
/tests/_data/fixtures/project-template/*/vendor/
/tests/_envs/*.local.yml
/tests/_log/
/tests/_support/_generated/
/tests/*.suite.yml
/codeception.yml

/vendor/
/sweetchuck-composer-suite-*.tar
/sweetchuck-composer-suite-*.zip

/.git-hooks-local
/phpcs.xml
/robo.yml

/composer.local.json
/composer.local.lock
